body{
    padding: 30px;
    min-height: max-content;
   
}

.menu{
    display: flex;
    height: 70px;
    width: auto;
    background-color: white;
    padding-left: 5px;
}

.Name{
    height: 100%;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    box-shadow: 16px 16px 16px 0px rgba(0, 0, 0, 0.1);
}

.buttons{
    width: 70%;
    display: flex;
    gap: 10px;
}

.buttons>*{
    flex-basis: 200px;
    font-family: 'Fira Sans', sans-serif;
    cursor: pointer;
    box-shadow: 16px 16px 16px 0px rgba(0, 0, 0, 0.1);
 
}
.news{
    padding-top: 22px;
    text-align: center;
    font-size: 18px;
    height: auto;
    flex-direction: row;
    justify-content: center; 
    font-weight: lighter;
}

.Name2{
    height: 40px;
    margin-top: 5px;
}
.png{
    margin-top: 8px;

}
.Name{
    display: flex;
    gap: 10px;
    margin-left: 10px;
    width: 50%;
}

.white{

    background-color: whitesmoke;
}

.body{
    width: 45%;
    height: 600px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.png2{
    grid-area: 1/1/3/4;
}

.flex1{
    
    padding: 25px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 50px;
    font-family: 'Asap Condensed', sans-serif;
    cursor: pointer;
}
.flex2{
    padding: 15px;
    padding-top: 30px;
    font-size: 18px;
    font-weight: lighter;
    line-height: 25px;
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
}
.readmore{
    margin-top: 20px;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.container2{
    grid-area: 3/1/4/4;
    display: flex;
}
.container2>*{
    flex-basis: 400px;
    flex-wrap: wrap;
}
.secondlist{
   height: 600px;
   width: 400px;
   margin-top: 20px;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.container1{
    display: flex;
   flex-direction: row;
    height: 700px;
    margin-top: 15px;
    gap: 10px;
}
.bo{
    width: 350px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.png3{
   float: left;
   grid-area: 1/1/6/3;
}
.png4{
    float: left;
    grid-area: 1/1/6/3;
 }
 .png5{
    float: left;
    grid-area: 1/1/6/3;
 }

.ma{
  grid-area: 1/3/6/6;
}
h3{
    font-family: 'Asap Condensed', sans-serif;
    cursor: pointer;
}

p{
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
}

.ma>*{
    padding-left: 20px;
    margin-top: 0px;
}
.thirdlist{
    height: 600px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    
   
}
.boxx{
    width: 300px;
    height: 150px;
}
.boxx>*{
    margin-top: 0px;
    
}
.New{
    text-align: left;
    font-size: 40px;
    font-family: 'Asap Condensed', sans-serif;
    color: orange;
   align-self: flex-start;
}

.text{
    font-weight: bolder;
    text-decoration: underline;
}

.png6{
    margin-bottom: 30px;
    
}

.dropdown *{
    box-sizing: border-box;
    }
    .select{
        background: white;
        color: black;
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        height: 20px;
        cursor: pointer;
        transition: 0,3s;
        color: black;
        box-shadow: 16px 16px 16px 0px rgba(0, 0, 0, 0.1);
        margin-top: 40px;
        height: max-content;
        width: max-content;
        margin-left: 10px;
        margin-top: 0px;
        padding: 26px;
        flex-wrap: wrap;
        font-size: 100%;
        font-weight: bold;
        font-family: 'Fira Sans', sans-serif;

        
    }
    
    .dropdown{
        

       height:0px;
       width: 0px;
    
  
        
    }
    
 
    
    .select:hover{
        background: whitesmoke;
    }
    
    .caret{
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid black;
        transition: 0,3s;
        margin-left: 10px;
        
    }
    
    .caret-rotate{
        transform: rotate(180deg);
    }
    
    .menu2{
        list-style: none;
        box-shadow: 16px 16px 16px 0px rgba(0, 0, 0, 0.1);
        background-color: white;
        transform: translateX(-50%);
        opacity: 1;
        display: none;
        transition: 0,2s;
        z-index: 1;
        width: max-content;
        overflow: scroll;
        height: 300px;
        padding-left: 25px;
        margin-left: 80px;
      
    }
    .menu2>*{
        text-align: center;
    }
    
    .menu2 li{
       padding: 10px;
        width: fit-content;
        border-radius: 5px;
        cursor: pointer;
        color: black;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        float: right;
        
        
      
    }
    
    .menu2 li:hover{
        background: whitesmoke;
    }
    
    .menu2-open{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        opacity: 1;
     

  
    }

    @media  (max-width: 1024px) {
        .container1{ 
            flex-wrap: wrap;
         
        }
        .flex2{
            flex-shrink: 1;
           }
        
          
    }
    
    @media  (min-width: 1025px) {
        body{
            display: flex;
            flex-wrap: wrap;
        }
    
        body>*{ 
    flex-grow: 1;
        }
        .container1{
            justify-content: center;
        }
      
        footer{
            flex-wrap: wrap;
        }
    }
    @media  (max-width: 900px){
        body{
            display: flex;
            flex-wrap: wrap;
        }
        .menu{
            flex-direction: column;
            width: 100%;
    
        }
        .buttons{
            width: 100%;
        }
        .Name{
            margin-bottom: 100px;
            flex-shrink: 0px;
            
        }
        .container1{
            margin-top: 150px;
           
            
        }
       .container1>*{
        justify-content: center;
       }
       .select{
        padding: 32px;
       }
        footer{
        flex-wrap: wrap;
        float: inline-end;
   
    }
    
    }




.image-container img {
    width: 100%;
    height: 100%;
   
}

.png3:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    cursor: pointer;
    
}
.png4:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}
.png5:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}
.png2:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease;
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
}

a { 
    color: black;
    text-decoration: none;
}

footer{
    height: max-content;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    bottom: 0;
}
.footer{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 50px;
}
.footer1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
   
}
.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
   
}




